In [1]:
import pandas as pd
from selenium import webdriver

In [2]:
fathi = webdriver.Chrome()

In [3]:
fathi.get('https://www.amazon.eg/s?k=samsung&rh=p_89%3Asamsung&language=en&ref=SQEG-WEB-SR301')

In [4]:
products = fathi.find_elements('xpath',"//div[@class='a-section a-spacing-base']")

In [5]:
product_titles = []
product_prices = []
product_images = []
product_rates = []
product_rating = []

for product in products:
    
    titles = product.find_elements('xpath', ".//span[@class='a-size-base-plus a-color-base a-text-normal']")
    for title in titles:
        product_titles.append(title.text)

    prices = product.find_elements('xpath', ".//span[@class='a-price-whole']") 
    for price in prices:
        product_prices.append(price.text)

    images = product.find_elements('xpath',".//img[@srcset]")
    image_urls = [i.get_attribute('srcset').split(',')[0] for i in images]
    for img in image_urls:
        product_images.append(img)
 
    total_rate = product.find_elements('xpath',".//span[@class='a-size-base s-underline-text']")    
    for rate in total_rate:
        product_rates.append(rate.text)

    rates = product.find_elements('xpath',".//span[@class='a-icon-alt']")
    ratings = [i.get_attribute('innerHTML').split(' ')[0] for i in rates]
    for rate in ratings:
        product_rating.append(rate.split()[0])

In [6]:
len(product_titles),len(product_titles),len(product_images),len(product_rates),len(product_rating)

(48, 48, 48, 47, 47)

In [7]:
# save data into data frame
dict={'title':product_titles, 'price':product_prices, 'images':product_images, 'rate':product_rating, 'total rate':product_rates}
data = pd.DataFrame.from_dict(dict, orient='index')
data = data.transpose()

In [8]:
data.head(5)

,title,price,images,rate,total rate
0,Galaxy A15 Dual SIM 6GB Ram+128GB ROM (6.5 Inc...,"6,600",https://m.media-amazon.com/images/I/61cl1NEIrd...,4.0,843
1,"Galaxy A05 LTE, Android Smartphone, Dual SIM M...","5,699",https://m.media-amazon.com/images/I/71dYQdmhwF...,3.8,52
2,"Galaxy A55 5G, Android Smartphone, Dual SIM Mo...","18,599",https://m.media-amazon.com/images/I/71iDfC-A+G...,4.0,119
3,"Galaxy M33, Dual SIM, 8GB RAM, 128GB Storage, ...","7,499",https://m.media-amazon.com/images/I/71rc4wx5L5...,3.8,56
4,Galaxy A15 Dual SIM 8GB Ram+256GGB ROM (6.5 In...,"8,200",https://m.media-amazon.com/images/I/51Cida8Rec...,4.0,843

In [9]:
data.isnull().sum()

title         0
price         0
images        0
rate          1
total rate    1
dtype: int64

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       48 non-null     object
 1   price       48 non-null     object
 2   images      48 non-null     object
 3   rate        47 non-null     object
 4   total rate  47 non-null     object
dtypes: object(5)
memory usage: 2.0+ KB

In [29]:
data.shape

(48, 5)

In [30]:
data.to_csv('Amazon_products.csv')