In [1]:
import pandas as pd
from selenium import webdriver

In [2]:
mojo = webdriver.Chrome()

In [3]:
mojo.get('https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW')

In [11]:
movies = mojo.find_elements('xpath',"//div[@class='a-section imdb-scroll-table mojo-gutter-sides imdb-scroll-table-styles']")

In [12]:

movie_ranks = []
movie_titles = []
movie_lfgross= []
movie_years = []

movies = mojo.find_elements('xpath',"//div[@class='a-section imdb-scroll-table mojo-gutter-sides imdb-scroll-table-styles']")
for movie in movies:
    
    rank = movie.find_elements('xpath',".//td[@class='a-text-right mojo-header-column mojo-truncate mojo-field-type-rank']") 
    for r in rank:
        movie_ranks.append(r.text) 
    
    title = movie.find_elements('xpath',".//td[@class='a-text-left mojo-field-type-title']")
    for t in title:
        movie_titles.append(t.text)

    lifetime_gross = movie.find_elements('xpath',".//td[@class='a-text-right mojo-field-type-money']")
    for l in lifetime_gross:
        movie_lfgross.append(l.text)
    
    year = movie.find_elements('xpath',".//td[@class='a-text-left mojo-field-type-year']")
    for y in year:
        movie_years.append(y.text)

In [8]:
len(movie_ranks), len(movie_titles),len(movie_lfgross),len(movie_years)

(200, 200, 200, 200)

In [9]:
data = pd.DataFrame({"Rank": movie_ranks, "Title": movie_titles, "Lifetime gross": movie_lfgross, "Year": movie_years})
movies = pd.DataFrame(data)
movies.head(10)

  Rank                                       Title  Lifetime gross  Year
0    1                                      Avatar  $2,923,706,026  2009
1    2                           Avengers: Endgame  $2,799,439,100  2019
2    3                    Avatar: The Way of Water  $2,320,250,281  2022
3    4                                     Titanic  $2,264,750,694  1997
4    5  Star Wars: Episode VII - The Force Awakens  $2,071,310,218  2015
5    6                      Avengers: Infinity War  $2,052,415,039  2018
6    7                     Spider-Man: No Way Home  $1,922,598,800  2021
7    8                              Jurassic World  $1,671,537,444  2015
8    9                               The Lion King  $1,663,079,059  2019
9   10                                The Avengers  $1,520,538,536  2012

In [10]:
movies.isnull().sum()

Rank              0
Title             0
Lifetime gross    0
Year              0
dtype: int64

In [30]:
#movies.to_excel('Box Office Mojo')
movies.to_json('Box Office Mojo')